* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: indigo;
}

p {
    text-align: center;
    color: red;

}

button {
    background-color: teal;
    color: chartreuse;
    border: none;
    cursor: pointer;

}

body:last-child {
    color: blue;
}